.MuiAppBar-colorPrimary {
  background-color: black !important;
}

.bg {
  background: linear-gradient(
    109.6deg,
    rgba(255, 255, 255, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  /* background: rgb(63, 61, 61); */
  background-repeat: no-repeat;
  min-height: 100vh;
}
